langgraph
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface
langchain-community
langchain-text-splitters
chromadb
huggingface-hub
sentence-transformers
pypdf
pymupdf
tavily-python
langsmith
python-dotenv
streamlit
fastapi
uvicorn